@{
    ViewBag.Title = "Accueil Directeur | OFPPT";
    Layout = "~/Views/MainLayout.cshtml";
    try
    {
        if (Session.Count == 0 || Session["Role"].ToString() == "STUDENT" || Session["Role"].ToString() == "ADMIN")
        {
            Response.Redirect("~/Account/SignIn");
        }
    }
    catch (Exception ex)
    {

    }
}
<!-- preloader area start -->
<div id="preloader">
    <div class="loader"></div>
</div>
<!-- preloader area end -->
<!-- main wrapper start -->
<div class="horizontal-main-wrapper">
    @Html.Partial("_Header")
    <!-- main content area start -->
    <div class="main-content-inner">
        <div class="container">
            <div class="row">
                <div class="col-md-6 mt-5 mb-3">
                    <div class="card">
                        <div class="seo-fact sbg3">
                            <div class="p-4 d-flex justify-content-between align-items-center">
                                <div class="seofct-icon"><i class="ti-alert"></i>Mes Etudiants </div>
                                <h2 id="nbMessage">@ViewBag.NbEtudiants</h2>
                            </div>
                            <canvas id="seolinechart2" height="50"></canvas>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- main content area end -->
    @Html.Partial("_Footer")
</div>
<!--Page Related Scripts-->
<script src="~/Assets/custom/directeurhome/js/script.js"></script>