<!DOCTYPE html>

<html>
<head>
    <!-- WebSite Created By Saad Qouhafa -->
    <!-- WebSite Created By Mohamed Hakkou -->

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>@ViewBag.Title</title>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <link rel="icon" href="~/Assets/images/OFPPTicon.ico">
    <link rel="stylesheet" href="~/Assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/Assets/css/font-awesome.min.css">
    <link rel="stylesheet" href="~/Assets/css/themify-icons.css">
    <link rel="stylesheet" href="~/Assets/css/metisMenu.css">
    <link rel="stylesheet" href="~/Assets/css/owl.carousel.min.css">
    <link rel="stylesheet" href="~/Assets/css/slicknav.min.css">
    <!-- Amchart CSS -->
    <link rel="stylesheet" href="~/Assets/custom/css/export.css" type="text/css" media="all" />
    <!-- Start datatable css -->
    <link rel="stylesheet" type="text/css" href="~/Assets/custom/css/jquery.dataTables.css">
    <link rel="stylesheet" type="text/css" href="~/Assets/custom/css/dataTables.bootstrap4.min.css">
    <link rel="stylesheet" type="text/css" href="~/Assets/custom/css/responsive.bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="~/Assets/custom/css/responsive.jqueryui.min.css">
    <!-- Others CSS -->
    <link rel="stylesheet" href="~/Assets/css/typography.css">
    <link rel="stylesheet" href="~/Assets/css/default-css.css">
    <link rel="stylesheet" href="~/Assets/css/styles.css">
    <link rel="stylesheet" href="~/Assets/css/responsive.css">
    <!-- Sweet Alert 2 CSS-->
    <link href="~/Assets/sweetalert2/dist/sweetalert2.min.css" rel="stylesheet" />
    <!-- Modernizr CSS -->
    <script src="~/Assets/js/vendor/modernizr-2.8.3.min.js"></script>
    <!-- Select2 CSS -->
    <link href="~/Assets/css/select2.min.css" rel="stylesheet" />
</head>
<body>
    <div>
        @RenderBody()
    </div>
    <!-- REQUIRED SCRIPTS -->
    <!-- JQuery -->
    <script src="~/Assets/js/vendor/jquery-2.2.4.min.js"></script>
    <!-- BootStrap 4 JS -->
    <script src="~/Assets/js/popper.min.js"></script>
    <script src="~/Assets/js/bootstrap.min.js"></script>
    <script src="~/Assets/js/owl.carousel.min.js"></script>
    <script src="~/Assets/js/metisMenu.min.js"></script>
    <script src="~/Assets/js/jquery.slimscroll.min.js"></script>
    <script src="~/Assets/js/jquery.slicknav.min.js"></script>
    <!-- Others Plugins -->
    <script src="~/Assets/js/plugins.js"></script>
    <script src="~/Assets/js/scripts.js"></script>
    <!-- Sweet Alert 2 JS -->
    <script src="~/Assets/sweetalert2/dist/sweetalert2.all.min.js"></script>
    <!-- SMTP JS -->
    <script src="~/Assets/js/smtp.js"></script>
    <!-- Select2 JS -->
    <script src="~/Assets/js/select2.min.js"></script>
    <!-- start chart js -->
    <script src="~/Assets/custom/js/Chart.min.js"></script>
    <!-- start highcharts js -->
    <script src="~/Assets/custom/js/highcharts.js"></script>
    <script src="~/Assets/custom/js/exporting.js"></script>
    <script src="~/Assets/custom/js/export-data.js"></script>
    <!-- start amcharts -->
    <script src="~/Assets/custom/js/amcharts.js"></script>
    <script src="~/Assets/custom/js/ammap.js"></script>
    <script src="~/Assets/custom/js/worldLow.js"></script>
    <script src="~/Assets/custom/js/serial.js"></script>
    <script src="~/Assets/custom/js/export.min.js"></script>
    <script src="~/Assets/custom/js/light.js"></script>
    <!-- all line chart activation -->
    <script src="~/Assets/js/line-chart.js"></script>
    <!-- all pie chart -->
    <script src="~/Assets/js/pie-chart.js"></script>
    <!-- all bar chart -->
    <script src="~/Assets/js/bar-chart.js"></script>
    <!-- all map chart -->
    <script src="~/Assets/js/maps.js"></script>
    <!-- Start datatable js -->
    <script src="~/Assets/custom/js/jquery.dataTables.js"></script>
    <script src="~/Assets/custom/js/jquery.dataTables.min.js"></script>
    <script src="~/Assets/custom/js/dataTables.bootstrap4.min.js"></script>
    <script src="~/Assets/custom/js/dataTables.responsive.min.js"></script>
    <script src="~/Assets/custom/js/responsive.bootstrap.min.js"></script>
    <!-- others plugins -->
    <script src="~/Assets/js/plugins.js"></script>
    <script src="~/Assets/js/scripts.js"></script>
    <!-- Custom JS-->
    <script src="~/Assets/custom/js/scripts.js"></script>

    <!-- WebSite Created By Mohamed Hakkou -->
    <!-- WebSite Created By Saad Qouhafa -->

    <!-- Template Created By ColorLib And Modified By Mohamed Hakkou, Saad Qouhafa -->
</body>
</html>
